forgot-password {
	.no-scroll .scroll-content{
	     overflow: hidden;
	}
	.float-left{
		float: left;
	}
	.float-right{
		float: right;
	}
	.center {
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	    
	}
	.img {
		width: 60%;
	}
	.img-sm{
		width: 20%;
	}
	.text-align{
		width:100%;
		text-align:center;
	}

	.txt{
		font-size: 17px;
		color: #ff91e3;
	}

	.hide { display:none; } 
	.grey{
		color: #c1c1c1;

	}

	.no-padding {
	    padding: 0px !important;
	}

	.custom-input{
		border: 1px solid #afafaf;
	}

	.custom-input .item-inner{
		margin-left: 2px !important;
	}

	.item-inner{
		border-bottom: none !important;
	}
	.no-top-border{
	    border-top: none !important;
	}
	.input-has-focus .item-inner{
		border-bottom-color: #fff !important;
		box-shadow: none !important;
	}
	.input-has-focus:last-child{
		border-bottom-color: #afafaf !important;
		box-shadow: none !important;
	}
	.links{
		color: blue;
		font-size: 0.8em;
	}
}
