page-step1 {
	.role-btns{
	  margin-top: 30px !important;
	}

	.role-btns button{
		margin-bottom: 10px;
	}

	.custom-button .button-inner{
	    justify-content: flex-start;
	    text-transform: none !important;
	}
	.terms-text{
		font-size: 10px;
		color: #595959;
	}

	.item-inner {
	  	border-bottom: 1px solid #76787a;
	  }
}
