page-checkout {
 ion-list ion-item{
 	font-size: 13px !important;
 }
 ion-card-header{
 	color: #ec145a !important;
 	border-bottom: 2px solid #ec145a;
 }
 .p-l-0{
 	padding-left: 0px;
 }
 .float-right{
	 float:right;
 }
 .cart-title{
	 font-size: 1.9rem;
 }
 .color-red{
	 color: red;
 }
 .color-green{
	 color:green;
 }
}
